* {
    box-sizing: border-box;
}

.menu {
    overflow: auto;
    padding: 0;
    height: 470px;
    background-color: white;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.menu, .menu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu ul {
    padding: 0;
    margin: 7px 0;
}

.menu ul li {
    list-style: none;
    padding: 20px 0 20px 40px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.menu ul li.active {
    background-color: #dedede;
    position: relative;
}

.menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.bootstrap-calendar .calendar {
  background: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 0
}

.bootstrap-calendar .calendar td {
  border: none !important
}

.bootstrap-calendar .calendar .table td {
  padding: 3px 5px
}

.bootstrap-calendar .calendar a {
  line-height: 24px
}

.bootstrap-calendar .calendar .week_days td {
  background: 0 0;
  color: #a9acae
}

.bootstrap-calendar .calendar .visualmonthyear {
  color: #707478
}

.bootstrap-calendar .calendar .table.header td {
  color: #707478;
  vertical-align: middle
}

.bootstrap-calendar .calendar .table.header td.year {
  font-size: 18px;
  font-weight: 300
}

.bootstrap-calendar .calendar .table.header {
  margin-bottom: 5px
}

.bootstrap-calendar .calendar .table.header .year {
  width: 72%
}

.bootstrap-calendar .calendar .icon-arrow-left, .bootstrap-calendar .calendar .icon-arrow-right {
  cursor: pointer;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px
}

.bootstrap-calendar .calendar .icon-arrow-left:focus, .bootstrap-calendar .calendar .icon-arrow-left:hover, .bootstrap-calendar .calendar .icon-arrow-right:focus, .bootstrap-calendar .calendar .icon-arrow-right:hover {
  color: #2d353c
}

.bootstrap-calendar .calendar .icon-arrow-left:before {
  content: '\f060'
}

.bootstrap-calendar .calendar .icon-arrow-right:before {
  content: '\f061'
}

.bootstrap-calendar .calendar .table {
  margin-bottom: 0
}

.bootstrap-calendar .calendar .event a {
  display: block;
  border-radius: 30px;
  background: #fff;
  color: #fff;
  margin: 0 auto
}

.bootstrap-calendar .calendar .event .popover a {
  color: #428bca
}

.bootstrap-calendar .calendar .event .popover a:focus, .bootstrap-calendar .calendar .event .popover a:hover {
  color: #2a6496;
  text-decoration: underline
}

.bootstrap-calendar .calendar .event, .bootstrap-calendar .calendar .event a:focus, .bootstrap-calendar .calendar .event a:hover, .bootstrap-calendar .calendar .event:focus, .bootstrap-calendar .calendar .event:hover {
  text-shadow: none;
  color: #2d353c;
  box-shadow: none;
  font-weight: 400
}

.bootstrap-calendar .calendar .event a:focus, .bootstrap-calendar .calendar .event a:hover {
  color: #fff;
  opacity: .8
}

.bootstrap-calendar .calendar .event, .bootstrap-calendar .calendar .event:focus, .bootstrap-calendar .calendar .event:hover {
  background: 0 0;
  text-align: center
}

.bootstrap-calendar .calendar .fa-circle {
  position: absolute;
  right: 0;
  top: 0
}